body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#loading-screen {
    text-align: center;
    color: white;
}

#loading-screen img {
    max-width: 80%;
    height: auto;
}

.loader {
    margin-top: 20px;
    width: 200px;
    height: 20px;
    border: 2px solid #fff;
    overflow: hidden;
    position: relative;
    margin: 20px auto 0; /* Centrar horizontalmente */
}

.bar {
    width: 30%;
    height: 100%;
    background-color: #3498db;
    position: absolute;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% { left: 0; }
    50% { left: 70%; }
    100% { left: 0; }
}

/* styles.css */

/* Contenedor de la barra de carga */
.loading-bar {
    width: 300px; /* Ancho de la barra */
    height: 30px; /* Ajusta la altura según tu imagen */
    border: 2px solid #CCCCCC; /* Borde de la barra */
    border-radius: 20px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: black; /* Fondo negro */
    overflow: hidden;
    position: absolute;
    top: 75%; /* Ajusta la posición vertical */
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo de la imagen que se moverá */
.moving-image {
    width: 150px; /* Ancho de la imagen */
    height: 100%; /* Altura completa del contenedor */
    background-image: url('../img/carga-sqr.png'); /* Ruta de la imagen adjunta */
    background-size: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    animation: move 1.5s ease-in-out infinite; /* Animación para mover la imagen */
}

/* Animación para mover la imagen */
@keyframes move {
    0% {
        transform: translateX(0); /* Comienza en el borde izquierdo */
    }
    50% {
        transform: translateX(210px); /* Mueve la imagen hacia la derecha (ajusta según el tamaño de tu barra) */
    }
    100% {
        transform: translateX(0px); /* Vuelve al inicio */
    }
}
